<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<style>
	{{{css}}}
	</style>
	<style media="print">
		body { font-size: 14px; }
	</style>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

	</head>
	<body>

	<div id="resume">

	{{#resume.basics}}
 <section class="heading" role="region" aria-label="Header">
        <header>
            <h1>{{name}}</h1>
            <div class="contact" role="contentinfo">
                {{#if location.city}}
                    <span class="detail">
                    <span class="label">City:</span>
                    <span aria-label="Location">{{location.city}}{{#if location.region}}, {{location.region}}{{/if}}</span>
                    </span>
                {{/if}}
                <br />
                {{#if email}}
                <span class="detail">
                    <span class="label">Email:</span>
                    <a href="mailto:{{email}}" aria-label="Email">{{email}}</a>
                </span>
                {{/if}}
                {{#if phone}}
                <span class="detail">
                    <span aria-label="Phone">{{phone}}</span>
                </span>
                {{/if}}
                {{#if profiles.length}}
                    {{#each profiles}}
                    <span class="detail">
                    {{#if network}}
                    {{#if url}}
                        <a href="{{url}}" aria-label="Profile {{network}}">{{url}}</a>
                    {{/if}}
                    {{/if}}
                    </span>
                    {{/each}}
                {{/if}}
            </div>
        </header>


  {{#if summary}}
  <div class="summary">{{paragraphSplit summary}}</div>
  {{/if}}

	</section>
	{{/resume.basics}}

 {{#if resume.skills.length}}
 <section id="skills" role="region" aria-label="Skills">
     <h2>Skills</h2>
     {{#each resume.skills}}
     <div class="item">
         {{#if name}}
         <div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if keywords.length}}
			<div class="keywords">
				{{#each keywords}}
					{{.}}{{#if @last}}{{else}},{{/if}}
				{{/each}}
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

 {{#if resume.work.length}}
 <section class="experience" role="region" aria-label="Work Experience">
     <h2>Work Experience</h2>
     {{#each resume.work}}
     <article class="item" itemscope itemtype="https://schema.org/WorkExperience">
         <header>
            {{#if position}}
                <h3 class="position" itemprop="jobTitle">{{position}}</h3>
            {{/if}}
            {{#if company}}
                <div class="name" itemprop="name">{{company}}</div>
            {{/if}}
            <div class="dates">
                {{#if startDate}}
                <span class="startDate" itemprop="startDate">{{date startDate}}</span>
                <span class="separator"> - </span>
                {{/if}}
                {{#if endDate}}
                <span class="endDate" itemprop="endDate">{{date endDate}}</span>
                {{else}}
                <span class="endDate" itemprop="endDate">Present</span>
                {{/if}}
            </div>
         </header>

			{{#if summary}}
			<div class="summary">{{paragraphSplit summary}}</div>
			{{/if}}
            {{#if highlights.length}}
            <ul class="highlights">
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </article>
        {{/each}}
    </section>
    {{/if}}

 {{#if resume.education.length}}
 <section id="education" role="region" aria-label="Education">
     <h2>Education</h2>
     {{#each resume.education}}
     <div class="item" itemscope itemtype="https://schema.org/EducationalOccupationalCredential">
         <header>
             {{#if studyType}}
                 <h3 class="position" itemprop="educationalLevel">
                     {{studyType}}{{#if area}}, {{area}}{{/if}}
                 </h3>
             {{else}}
                 {{#if area}}
                 <h3 class="position">{{area}}</h3>
                 {{/if}}
             {{/if}}

             {{#if institution}}
                 <div class="name" itemprop="recognizedBy">{{institution}}</div>
             {{/if}}

             <div class="dates">
                 {{#if startDate}}
                 <span class="startDate" itemprop="validFrom">{{year startDate}}</span>
                 <span class="separator"> - </span>
                 {{/if}}
                 {{#if endDate}}
                 <span class="endDate" itemprop="validThrough">{{year endDate}}</span>
                 {{else}}
                 <span class="endDate" itemprop="validThrough">Present</span>
                 {{/if}}
             </div>
         </header>
        </div>
        {{/each}}
    </section>
    {{/if}}

 {{#if resume.awards.length}}
 <section id="awards" role="region" aria-label="Awards">
     <h2>Awards</h2>
     {{#each resume.awards}}
     <div class="item">
			{{#if title}}
			<div class="title">
				{{title}}
			</div>
			{{/if}}
			{{#if date}}
			<div class="date">
				{{date}}
			</div>
			{{/if}}
			{{#if awarder}}
			<div class="awarder">
				{{awarder}}
			</div>
			{{/if}}
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

 {{#if resume.publications.length}}
 <section id="publications" role="region" aria-label="Publications">
     <h2>Publications</h2>
     {{#each resume.publications}}
     <div class="item">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if publisher}}
			<div class="publisher">
				{{publisher}}
			</div>
			{{/if}}
			{{#if releaseDate}}
			<div class="releaseDate">
				{{releaseDate}}
			</div>
			{{/if}}
			{{#if website}}
			<div class="website">
				<a href="{{website}}">Link</a>
			</div>
			{{/if}}
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

 {{#if resume.languages.length}}
 <section id="languages" role="region" aria-label="Languages">
     <h2>Languages</h2>
     {{#each resume.languages}}
     <div class="item">
			{{#if language}}
			<div class="language">
				{{language}}
			</div>
			{{/if}}
			{{#if fluency}}
			<div class="fluency">
				<em>{{fluency}}</em>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

 {{#if resume.volunteer.length}}
     <section class="experience" role="region" aria-label="Volunteering">
         <h2>Volunteering</h2>
         {{#each resume.volunteer}}
         <div class="item">
             <header>
                 {{#if organization}}
    					<h3 class="name">{{organization}}</h3>
    				{{/if}}
    			</header>
    			{{#if position}}
    			<span class="position">
    				{{position}}
    			</span>
    			{{/if}}


                {{#if startDate}}
    			<span class="startDate">
    				{{date startDate}}
                </span>
                {{/if}}
    			{{#if endDate}}
    			<span class="endDate">
    				- {{date endDate}}
    			</span>
    			{{else}}
    			<span class="endDate">
    				- Present
    			</span>
    			{{/if}}

    			{{#if summary}}
    			<div class="summary">
    				<p>{{summary}}</p>
    			</div>
    			{{/if}}
    			{{#if highlights.length}}
    			<ul class="highlights">
    				{{#each highlights}}
    				<li>{{.}}</li>
    				{{/each}}
    			</ul>
    			{{/if}}
    		</div>
    		{{/each}}
    	</section>
    {{/if}}

 {{#if resume.interests.length}}
 <section id="interests" role="region" aria-label="Interests">
     <h2>Interests</h2>
     {{#each resume.interests}}
     <div class="item">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
			{{#if keywords.length}}
			<ul class="keywords">
				{{#each keywords}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

 {{#if resume.references.length}}
 <section id="references" role="region" aria-label="References">
     <h2>References</h2>
     {{#each resume.references}}
     <div class="item">
			{{#if reference}}
			<blockquote class="reference">
				{{reference}}
			</blockquote>
			{{/if}}
			{{#if name}}
			<div class="name">
				— {{name}}
			</div>
			{{/if}}
		</div>
		{{/each}}
	</section>
	{{/if}}

	</div>

	</body>
</html>
